
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.command {
  height: 150px;
  width: 150px;
  float: left;
  border: 2px solid #666666;
  background-color: #ccc;
  margin-right: 5px;
  margin-bottom: 5px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
  cursor: move;
}

.command input {
  width: 80%;
}
.command .title {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 3px;
}
.command .input-text {
  font-size: 14px;
}

#trash {
  height: 150px;
  width: 150px;
  float: left;
  border: 2px solid #666666;
  background: url(http://icons.iconarchive.com/icons/iconshock/vista-general/128/trash-icon.png) no-repeat 50% 50%;
  margin-right: 5px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
  cursor: move;
}

.selected {
  background-color: white;
  border-style: dashed;
}

.global-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background: rgba(0,0,0,.6);
  z-index: 100;
}

.global-header .title {
  float: left;
  margin-left: 50px;
  line-height: 30px;
  margin-top: 5px;
  font-weight: bold;
  color: #ffffff;
}

.global-header #compile {
  float: right;
  margin-right: 50px;
  background: rgba(255,255,255,.8);
  line-height: 30px;
  margin-top: 5px;
  padding: 0 5px 0 5px;
  font-weight: bold;
  cursor: pointer;
}

.config-bar {
  float: left;
  position: relative;
  display: block;
  width: 100%;
  border-bottom: dashed 2px #000000;
  margin-bottom: 5px;
}

.config-bar .title {
  float: left;
}

.content {
  float: left;
  position: relative;
  display: block;
  margin-top: 40px;
  padding-top: 10px;
  width: 100%;
}

.panel-left {
  display: inline-block;
  float: left;
  width: 30%;
  margin-right: 15px;
}

.toolbox {
  padding: 5px 5px 0 5px;
  float: left;
  border: solid 2px;
  border-radius: 6px;
  width: 100%;
}

.panel-right {
  display: inline-block;
  float: right;
  width: 65%;
  border: solid 2px;
  border-radius: 6px;
  min-height: 400px;
}

.trash-bar {
  float: left;
}

.program-window {
  float: left;
  width: 100%;
  text-align: left;
  border: solid 2px;
  border-radius: 6px;
  margin-top: 5px;
  padding: 5px;
}
